@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 400;
  src: url('https://assets.codepen.io/16327/PPMori-Regular.woff')
    format('woff');
}

@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 600;
  src: url('https://assets.codepen.io/16327/PPMori-SemiBold.woff')
    format('woff');
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: Mori, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  margin: 0;
}
