@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 400;
  src: url('https://assets.codepen.io/16327/PPMori-Regular.woff')
    format('woff');
}

@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 600;
  src: url('https://assets.codepen.io/16327/PPMori-SemiBold.woff')
    format('woff');
}

:root {
  color: #bbbaa6;
  background-color: #0e100f;
  font-family: Mori, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #0e100f;
}
